In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('Amazon Sale Report.csv')
df

C:\Users\palavish\AppData\Local\Temp\ipykernel_19492\1164085087.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv('Amazon Sale Report.csv')

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,...,INR,647.62,MUMBAI,MAHARASHTRA,400081.0,IN,NaN,False,Easy Ship,NaN
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,...,INR,406.00,BENGALURU,KARNATAKA,560085.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,...,INR,329.00,NAVI MUMBAI,MAHARASHTRA,410210.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,True,NaN,NaN
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,...,INR,753.33,PUDUCHERRY,PUDUCHERRY,605008.0,IN,NaN,False,Easy Ship,NaN
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,...,INR,574.00,CHENNAI,TAMIL NADU,600073.0,IN,NaN,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,Expedited,JNE3697,JNE3697-KR-XL,kurta,...,INR,517.00,HYDERABAD,TELANGANA,500013.0,IN,NaN,False,NaN,False
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Expedited,SET401,SET401-KR-NP-M,Set,...,INR,999.00,GURUGRAM,HARYANA,122004.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0157,J0157-DR-XXL,Western Dress,...,INR,690.00,HYDERABAD,TELANGANA,500049.0,IN,NaN,False,NaN,False
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0012,J0012-SKD-XS,Set,...,INR,1199.00,Halol,Gujarat,389350.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,...,INR,696.00,Raipur,CHHATTISGARH,492014.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128975 entries, 0 to 128974
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   index               128975 non-null  int64
 1   Order ID            128975 non-null  object
 2   Date                128975 non-null  object
 3   Status              128975 non-null  object
 4   Fulfilment          128975 non-null  object
 5   Sales Channel       128975 non-null  object
 6   ship-service-level  128975 non-null  object
 7   Style               128975 non-null  object
 8   SKU                 128975 non-null  object
 9   Category            128975 non-null  object
 10  Size                128975 non-null  object
 11  ASIN                128975 non-null  object
 12  Courier Status      122103 non-null  object
 13  Qty                 128975 non-null  int64
 14  currency            121180 non-null  object
 15  Amount              121180 non-null  float64
 16  ship-city           128942 non-null  object
 17  ship-state          128942 non-null  object
 18  ship-postal-code    128942 non-null  float64
 19  ship-country        128942 non-null  object
 20  promotion-ids       79822 non-null   object
 21  B2B                 128975 non-null  bool
 22  fulfilled-by        39277 non-null   object
 23  Unnamed: 22         79925 non-null   object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 22.8+ MB

In [4]:
df.isnull().sum()

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64

In [5]:
df=df.drop(columns=['Courier Status','currency','promotion-ids','fulfilled-by','Unnamed: 22','B2B','ship-country','ship-postal-code','Size','SKU','Style','ship-service-level'])
df

,index,Order ID,Date,Status,Fulfilment,Sales Channel,Category,ASIN,Qty,Amount,ship-city,ship-state
0,0,405-8078784-5731545,04-30-22,Cancelled,Merchant,Amazon.in,Set,B09KXVBD7Z,0,647.62,MUMBAI,MAHARASHTRA
1,1,171-9198151-1101146,04-30-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,kurta,B09K3WFS32,1,406.00,BENGALURU,KARNATAKA
2,2,404-0687676-7273146,04-30-22,Shipped,Amazon,Amazon.in,kurta,B07WV4JV4D,1,329.00,NAVI MUMBAI,MAHARASHTRA
3,3,403-9615377-8133951,04-30-22,Cancelled,Merchant,Amazon.in,Western Dress,B099NRCT7B,0,753.33,PUDUCHERRY,PUDUCHERRY
4,4,407-1069790-7240320,04-30-22,Shipped,Amazon,Amazon.in,Top,B098714BZP,1,574.00,CHENNAI,TAMIL NADU
...,...,...,...,...,...,...,...,...,...,...,...,...
128970,128970,406-6001380-7673107,05-31-22,Shipped,Amazon,Amazon.in,kurta,B098112V2V,1,517.00,HYDERABAD,TELANGANA
128971,128971,402-9551604-7544318,05-31-22,Shipped,Amazon,Amazon.in,Set,B09VC6KHX8,1,999.00,GURUGRAM,HARYANA
128972,128972,407-9547469-3152358,05-31-22,Shipped,Amazon,Amazon.in,Western Dress,B0982YZ51B,1,690.00,HYDERABAD,TELANGANA
128973,128973,402-6184140-0545956,05-31-22,Shipped,Amazon,Amazon.in,Set,B0894Y2NJQ,1,1199.00,Halol,Gujarat
128974,128974,408-7436540-8728312,05-31-22,Shipped,Amazon,Amazon.in,Set,B0894X27FC,1,696.00,Raipur,CHHATTISGARH

In [9]:
df=df.drop(columns=['index','Order ID','Status','Fulfilment'])
df

,Date,Sales Channel,Category,ASIN,Qty,Amount,ship-city,ship-state
0,04-30-22,Amazon.in,Set,B09KXVBD7Z,0,647.62,MUMBAI,MAHARASHTRA
1,04-30-22,Amazon.in,kurta,B09K3WFS32,1,406.00,BENGALURU,KARNATAKA
2,04-30-22,Amazon.in,kurta,B07WV4JV4D,1,329.00,NAVI MUMBAI,MAHARASHTRA
3,04-30-22,Amazon.in,Western Dress,B099NRCT7B,0,753.33,PUDUCHERRY,PUDUCHERRY
4,04-30-22,Amazon.in,Top,B098714BZP,1,574.00,CHENNAI,TAMIL NADU
...,...,...,...,...,...,...,...,...
128970,05-31-22,Amazon.in,kurta,B098112V2V,1,517.00,HYDERABAD,TELANGANA
128971,05-31-22,Amazon.in,Set,B09VC6KHX8,1,999.00,GURUGRAM,HARYANA
128972,05-31-22,Amazon.in,Western Dress,B0982YZ51B,1,690.00,HYDERABAD,TELANGANA
128973,05-31-22,Amazon.in,Set,B0894Y2NJQ,1,1199.00,Halol,Gujarat
128974,05-31-22,Amazon.in,Set,B0894X27FC,1,696.00,Raipur,CHHATTISGARH

In [14]:
df['ship-state'].unique()

array(['MAHARASHTRA', 'KARNATAKA', 'PUDUCHERRY', 'TAMIL NADU',
       'UTTAR PRADESH', 'CHANDIGARH', 'TELANGANA', 'ANDHRA PRADESH',
       'RAJASTHAN', 'DELHI', 'HARYANA', 'ASSAM', 'JHARKHAND',
       'CHHATTISGARH', 'ODISHA', 'KERALA', 'MADHYA PRADESH',
       'WEST BENGAL', 'NAGALAND', 'Gujarat', 'UTTARAKHAND', 'BIHAR',
       'JAMMU & KASHMIR', 'PUNJAB', 'HIMACHAL PRADESH',
       'ARUNACHAL PRADESH', 'MANIPUR', 'Goa', 'MEGHALAYA', 'GOA',
       'TRIPURA', 'LADAKH', 'DADRA AND NAGAR', 'SIKKIM', 'Delhi', nan,
       'ANDAMAN & NICOBAR ', 'Punjab', 'Rajshthan', 'Manipur',
       'rajasthan', 'Odisha', 'NL', 'Bihar', 'MIZORAM', 'punjab',
       'New Delhi', 'Rajasthan', 'Punjab/Mohali/Zirakpur', 'Puducherry',
       'delhi', 'RJ', 'Chandigarh', 'orissa', 'LAKSHADWEEP', 'goa', 'PB',
       'APO', 'Arunachal Pradesh', 'AR', 'Pondicherry', 'Sikkim',
       'Arunachal pradesh', 'Nagaland', 'bihar', 'Mizoram', 'rajsthan',
       'Orissa', 'Rajsthan', 'Meghalaya'], dtype=object)

In [18]:
df['ship-city'].unique()

array(['MUMBAI', 'BENGALURU', 'NAVI MUMBAI', ...,
       'GULABPURA, Distt BHILWARA', 'Prayagraj (ALLAHABAD)', 'Halol'],
      dtype=object)

In [19]:
df['Qty'].sum()

116649